# **02_Feb_Assignment_Answer**:

### **Solution (1)**:

**Characteristics of the tuples:**
- Ordered
- Allow Duplicate Values
- Unchangable

**Is tuple immutable?**
- Yes, tuple is immutable. it's element can be changed.

### **Solution (2)**:
**Two tuple methods in python:**

(1) count()

(2) index()

**why tuples have only two in-built methods as compared to Lists:**

- tuple is immutable in nature but list is mutable in nature. So, only two methods both list and tuple has common (1) count() (2) index().

In [29]:
#use of count() & index() in tuple
tuple1=(10,20,30,40,50,10,10,20)
#use of count()
print('count of 20 is: {}'.format(tuple1.count(20)))
#use of index()
print('index of 50 is: {}'.format(tuple1.index(50)))

count of 20 is: 2
index of 50 is: 4

### **Solution (3)**:

**Which collection datatypes in python do not allow duplicate items?:**

- set() collection datatype not allowed duplicate items in python.

**Implementation code Below using a set to remove duplicates from the given list:**

In [30]:
#code using a set to remove duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set1=set(List)
print(set1)

{1, 2, 3, 4}

### **Solution (4)**:

**Difference between the union() and update() methods for a set:**

- **union()** creates new set but **update()** adds new elements in existing set.

In [31]:
#use of union() and update() in set
set1={1,2,3,4}
set2={3,4,5,6}

#use of union()
set1.union(set2)
print('No union: ',set1) #not inplace
set3=set1.union(set2)
print('union: ',set3) 

#use of update()
set1.update(set2)  #inplace
print('updated set1: ',set1)

No union:  {1, 2, 3, 4}
union:  {1, 2, 3, 4, 5, 6}
updated set1:  {1, 2, 3, 4, 5, 6}

### **Solution (5)**:

**dictionary:**

- dictionary is a collection which is mutable in nature.
- dictionary not allow duplicates.
- dictionary is ordered collection.

**state whether a dictionary is ordered or unordered:**

- dictionary is ordered collection.

In [32]:
#dictinary declaration
dict1={}
print(type(dict1))

dict2={'name':'raju','roll':20}
for key,value in dict2.items():
  print('key: {} and value: {}'.format(key, value))
#same key
dict3={'name':'raju','name':'suresh'}
print('same keys: ',dict3)
#same value
dict4={'name':'abc','class':'abc'}
print('same values: ',dict4)

<class 'dict'>
key: name and value: raju
key: roll and value: 20
same keys:  {'name': 'suresh'}
same values:  {'name': 'abc', 'class': 'abc'}

### **Solution (6)**:

**Can we create a nested dictionary?:**

- Yes, we can create nested dictionary.

**Example of creating a simple one-level nested dictionary Below:**

In [33]:
#one-level nested dictionary
dict1={'a':{'a1':'(a)'},'b':{'b1':'(b)'}}
for key, value in dict1.items():
  for key1,value1 in value.items():
    print('Parent Key: {} Child key: {} and value: {}'.format(key,key1,value1))

Parent Key: a Child key: a1 and value: (a)
Parent Key: b Child key: b1 and value: (b)

### **Solution (7)**:

In [34]:
#use of setdefault()
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault('topics',['Python', 'Machine Learning', 'Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

### **Solution (8)**:

**Three view objects in dictionary:**

- keys
- values
-items

**Use of three in-built methods in python to display these three view objects for the given dictionary Below:**

In [35]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print('Use of keys: ')
for key in dict1.keys():
  print(key,end=',')
print()
print('Use of values: ')
for value in dict1.values():
  print(value,end=',')
print()
print('Use of items: ')
for key,value in dict1.items():
  print('{}:{}'.format(key,value), end=',')

Use of keys:
Sport,Teams,
Use of values:
Cricket,['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'],
Use of items:
Sport:Cricket,Teams:['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'],

### **End of Assignment**