# **04 Feb Assignment Answer**

**Name: Ajay Tiwari**

 **Email: ajayktiwari02@gmail.com**

### **Solution (1)**:

In [38]:
list1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_list=sorted(list1, key=lambda x:x[1])
print(sorted_list)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

### **Solution (2)**:

In [39]:
list1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
squared_list=list(map(lambda x:x**2,list1))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Solution (3)**:

In [40]:
List=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple_str=list(map(lambda x: str(x),List))
print(tuple_str)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

### **Solution (4)**:

In [41]:
from functools import reduce
result=reduce(lambda x,y:x*y, range(1,26))
print(result)

15511210043330985984000000

### **Solution (5)**:

In [42]:
list1=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
List=list(filter(lambda x: x%2==0 and x%3==0,list1))
print(List)

[6, 60, 90, 120]

### **Solution (6)**:

In [43]:
list1=['python', 'php', 'aba', 'radar', 'level']
List=list(filter(lambda x: ''.join([i for i in reversed(x)])==x,list1))
print(List)

['php', 'aba', 'radar', 'level']

# End of Assignment