# Python Assignment-2 (30th Jan 2023)

### **Solution (1)**:

In [58]:
percentage=float(input('Enter your Percentage: '))
if(percentage>90):
  print('Grade:','A')
elif(percentage>80 and percentage<=90):
  print('Grade:','B')
elif(percentage>=60 and percentage<=80):
  print('Grade:','C')
else:
  print('Grade:','D')

Enter your Percentage: 65
Grade: C

### **Solution (2)**:

In [59]:
cost_price=float(input('Enter Cost Price of Bike: '))
tax=0.0
if(cost_price>100000):
  tax=(cost_price*15)/100
elif(cost_price>50000 and cost_price<=100000):
  tax=(cost_price*10)/100
else:
  tax=(cost_price*5)/100
print('Road Tax: {}'.format(tax))

Enter Cost Price of Bike: 1100000
Road Tax: 165000.0

### **Solution (3)**:

In [60]:
city=input('Enter Name of City: ')
monument=''
if(city.lower()=='delhi'):
  monument='Red Fort'
elif(city.lower()=='agra'):
  monument='Taj Mahal'
elif(city.lower()=='jaipur'):
    monument='Jal Mahal'
print('monument of {} : {}'.format(city,monument))

Enter Name of City: Delhi
monument of Delhi : Red Fort

### **Solution (4)**:

In [61]:
number=float(input('Enter a number: '))
num=number
count=0
while(number>10):
  number/=3
  count+=1
print('No. of times {} will divide by 3: {}'.format(num,count))

Enter a number: 100
No. of times 100.0 will divide by 3: 3

### **Solution (5)**:

**Why use while loop**: 
- while loop is used to execute a block of code until a certain condition is satisfied.

**When use while loop**:
- Specially, When we don't know no. of times that a block of code will execute in advance.

**Example for While Loop:**

- Example-1: Question (4) explains best use of while loop.

- Example-2: Write a python program to print all the factors of a number.

In [62]:
#Note: for this problem for loop can't be use
#Here while loop will be useful
number=int(input('Enter a number: '))
factor=1
list1=[]
while((number//factor)>0):
  if(number%factor==0):
    list1.append(factor)
  factor+=1
print('All factors of {}:{}'.format(number, list1))

Enter a number: 100
All factors of 100:[1, 2, 4, 5, 10, 20, 25, 50, 100]

### **Solution (6)**:

In [63]:
i=0
n=5
while(i<3):
  if(i==0):
    print('Pattern-1: ')
    j=1
    while(j<=n):
      k=0
      while(k<j):
        print('*',end='') 
        k+=1
      print()
      j+=1
  elif(i==1):
    print('Pattern-2: ')
    j=1
    while(j<=n):
      k=0
      while(k<n):
        print('#',end='') 
        k+=1
      print()
      j+=1
  else:
    print('Pattern-3: ')
    j=0
    while(j<=n):
      k=n
      while((k-j)>0):
        print('@',end='') 
        k-=1
      print()
      j+=1
  i+=1

Pattern-1:
*
**
***
****
*****
Pattern-2:
#####
#####
#####
#####
#####
Pattern-3:
@@@@@
@@@@
@@@
@@
@

### **Solution (7)**:

In [64]:
#reverse while loop to print number form 10 to 1
n=10
while(n>0):
  print(n,end=' ')
  n-=1

10 9 8 7 6 5 4 3 2 1

### **Solution (8)**:

In [65]:
#reverse while loop to print number form 10 to 1
list1=[1,2,3,4,5,6,7,8,9,10]
i=-1
while(i>=-10):
  print(list1[i], end=' ')
  i-=1

10 9 8 7 6 5 4 3 2 1